#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.box {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 132, 255);
  padding: 55px 55px;
  font-size: 80px;
  font-weight: bold;
  border: 5px solid rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(112, 62, 15);
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: auto;
  border: 5px solid rgb(45, 45, 45);
}

#title {
  text-decoration: underline;
}

#madeByMessage {
  font-size: 30px;
  font-weight: bold;
}

#turnMessage {
  padding: 0 0;
  margin: 50px 0;
  font-size: 70px;
  font-weight: bold;
  color: rgb(146, 61, 27);
}

#resetButton {
  background-color: rgb(48, 142, 230);
  border: 3px solid black;
  font-size: 25px;
  padding-bottom: 18px;
  font-weight: bold;
}
